@import url('https://fonts.googleapis.com/css2?family=Rancho&display=swap');

* {
    font-family: 'Rancho', cursive;
  box-sizing: border-box; /* Evitar que los rellenos aumenten su tamaño fijo */
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 95px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.2);
  background: #fff;
}

.contenedor-logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 90%;
  margin-left: 60px;
}
.contenedor-logo .icono-logo {
  font-size: 2.8rem;
  color: #fff;
  height: 80%;
  width: 65px;
  border-radius: 20px;
  background: #7B42B6;
}
.contenedor-logo .icono-logo i {
  padding-top: 10px;
  padding-left: 9px;
}
.contenedor-logo .texto-logo {
  margin-left: 20px;
}
.contenedor-logo .texto-logo h1 {
  font-size: 3rem;
  padding: 0;
}
.contenedor-logo .texto-logo .texto-titulo-1 {
  color: #000000;
}
.contenedor-logo .texto-logo .texto-titulo-2 {
  color: #8645cc;
}
.contenedor-logo .texto-logo .slogan-banner {
  font-size: 1.3rem;
}
.contenedor-logo .texto-logo .slogan-banner i{
  font-size: 0.89rem;
  color: #cea0ff;
}

.accion-navegacion {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 15%;
  margin-right: 60px;
}
.accion-navegacion .boton-secundario {
  border: 2px solid #cea0ff;
  border-radius: 15px;
  text-align: center;
  width: 150px;
  padding: 10px;
  color: #000;
  text-decoration: none;
  font-size: 1.3rem;
}

.accion-navegacion .boton-secundario:hover {
  background: #6d24ba;
  color: #fff;
  border: none;
}

.accion-navegacion i {
  position: relative;
  right: 15px;
  width: 10px;
}