@import url('https://fonts.googleapis.com/css2?family=Rancho&display=swap');


/* definir paleta de morados y bordes del diseño */
:root {
  --primary: #6c38cc;
  --primary-hover: #592cb1;
  --primary-light: #f3effe;
  --bg-page: #f8f7fc;
  --text-dark: #1a1a2e;
  --text-muted: #6b7280;
  --border-color: #e5e7eb;
  --white: #ffffff;
  --radius-lg: 24px;
  --radius-mg: 12px;
}


* {
    font-family: 'Rancho', cursive;
  box-sizing: border-box; /* Evitar que los rellenos aumenten su tamaño fijo */
  margin: 0;
  padding: 0;
}


body {
  background-color: var(--bg-page);
  color: var(--text-dark);
  min-height: 100vh; /* El body ocupara el 100% del alto de pantalla */
  display: flex;
  flex-direction: column;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 95px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.2);
  background: #fff;
}
.contenedor-logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 90%;
  margin-left: 60px;
}
.contenedor-logo .icono-logo {
  font-size: 2.8rem;
  color: #fff;
  height: 80%;
  width: 65px;
  border-radius: 20px;
  background: #7B42B6;
}
.contenedor-logo .icono-logo i {
  padding-top: 10px;
  padding-left: 9px;
}
.contenedor-logo .texto-logo {
  margin-left: 20px;
}
.contenedor-logo .texto-logo h1 {
  font-size: 3rem;
  padding: 0;
}
.contenedor-logo .texto-logo .texto-titulo-1 {
  color: #000000;
}
.contenedor-logo .texto-logo .texto-titulo-2 {
  color: #8645cc;
}
.contenedor-logo .texto-logo .slogan-banner {
  font-size: 1.3rem;
}
.contenedor-logo .texto-logo .slogan-banner i{
  font-size: 0.89rem;
  color: #cea0ff;
}

.accion-navegacion {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 15%;
  margin-right: 60px;
}
.accion-navegacion .boton-secundario {
  border: 2px solid #cea0ff;
  border-radius: 15px;
  text-align: center;
  width: 150px;
  padding: 10px;
  color: #000;
  text-decoration: none;
  font-size: 1.3rem;
}

.accion-navegacion .boton-secundario:hover {
  background: #6d24ba;
  color: #fff;
  border: none;
}

.accion-navegacion i {
  position: relative;
  right: 15px;
  width: 10px;
}

.contenedor-menu {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: auto;
}

.carta-autenticacion {
  background-color: var(--white);
  border-radius: var(--radius-lg);
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  height: 690px;
  overflow: hidden;
}

.seccion-izq {
  background-image: url(../img/fondo_inicio_sesion.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #f4effd; /* Lila muy suave */
  padding: 3rem;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
}

.titulo-izq {
  font-size: 4.375rem;
  font-weight: 800;
  color: var(--text-dark);
  line-height: 1.2;
  margin-bottom: 0.75rem;
  position: relative;
  top: -250px;
  left: 200px;
}

.titulo-izq i {
  color: var(--primary);
  font-size: 3.125rem;
}

.titulo-izq span {
  color: var(--primary);
}

.subtitulo-izq {
  color: var(--text-muted);
  font-size: 1.5rem;
  width: 320px;
  line-height: 1.5;
  position: relative;
  top: -250px;
  left: 190px;
}


/* contenedor de imagen */
























.insignia {
  background-color: rgba(108, 56, 204, 0.85);
  color: var(--white);
  padding: 0.75rem 1.25rem;
  border-radius: 15px;
  display: flex;
  align-items: center;
  gap: 0.75rem;
  width: 340px;
  font-size: 0.8rem;
}


.insignia-icono {
  background-color: rgba(255, 255, 255, 0.2);
  width: 30px;
  height: 30px;
  border-radius: 15%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.seccion-formulario {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  background-color: var(--white);
}

.contenedor-formulario {
  width: 60%;
}

.encabezado-formulario {
  position: relative;
  top: auto;
  text-align: center;
  margin-bottom: 1.75rem;
}

.icono-formulario {
  background-color: var(--primary-light);
  color: var(--primary);
  width: 60px;
  height: 60px;
  border-radius: 15px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-family: 1.4rem;
  margin-bottom: 0.75rem;
}

.icono-formulario i {
  position: relative;
  font-size: 2.5rem;
}

.encabezado-formulario h2 {
  font-size: 2.5rem;
  font-weight: 700;
  color: var(--text-dark);
}

.encabezado-formulario p {
  font-size: 1.25rem;
  color: var(--text-muted);
  margin-top: 0.25rem;
}

.insertar {
  margin-bottom: 1.25rem;
}

.insertar label {
  font-size: 24px;
}

.insertar-recuadro {
  position: relative;
  display: flex;
  align-items: center;
}

.insertar-icono {
  position: absolute;
  left: 1rem;
  color: var(--text-muted);
  cursor: pointer;
}

.toggle-password {
  position: absolute;
  right: 1rem;
  color: var(--text-muted);
  cursor: pointer;
}

.insertar-recuadro input {
  width: 100%;
  padding: 0.75rem 1rem 0.75rem 2.6rem;
  border-radius: var(--radius-mg);
  font-size: 1.7rem;
  color: var(--text-dark);
  outline: none;
}


.insertar-recuadro input:focus {
  border-color: var(--primary);
  box-shadow: 0 0 0 3px rgba(108, 56, 204, 0.1);
}


.opciones-formulario {
  display: flex;
  align-items: center;
  gap: 2rem;
  color: var(--text-dark);
  cursor: pointer;
  font-weight: 600;
  font-size: 25px;
}


.remember-me {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: var(--text-dark);
  cursor: pointer;
  font-weight: 600;
}


.forgot-link {
  color: var(--primary);
  font-size: 25px;
  font-weight: 600;
  position: relative;
  left: 150px;
  gap: 0.5rem;
}

.boton-primario {
  width: 100%;
  background-color: var(--primary);
  color: var(--white);
  border: none;
  padding: 0.5rem;
  border-radius: var(--radius-mg);
  font-weight: 600;
  font-size: 2rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.boton-primario:hover {
  background-color: var(--primary-hover);
}

.divisor {
  display: flex;
  align-items: center;
  text-align: center;
  margin: 1.5rem 0;
  color: var(--text-muted);
  font-size: 2rem;
}

.divisor span {
  padding: 0 0.75rem;
}

.red-social {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  margin-bottom: 1.5rem;
}

.boton-red {
  background-color: var(--white);
  border: 1px solid var(--border-color);
  padding: 0.65rem;
  border-radius: var(--radius-mg);
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--text-dark);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.boton.red:hover {
  background-color: #f9fafb;
}

.facebook-icono {
  color: #1877f2;
  font-size: 1rem;
}

.pie-formulario {
  text-align: center;
  font-size: 1.5rem;
  color: var(--text-muted);
}

.register-link {
  color: var(--primary);
  font-weight: 600;
  margin-left: 0.3rem;
  display: inline-flex;
  align-items: center;
  gap: 0.25rem;
}